.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  margin: 5vh;
}

.user-name {
  margin-bottom: 15vh;
}

.basic-details {
  margin-left: 5vw;
  padding-left: 5vw;
}

.more-details {
  padding-left: 5vw;
}

.lower-box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
