.post-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: rgb(36, 31, 31);
  margin: 1rem;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.user-image {
  width: 7%;
  border-radius: 100%;
  margin-right: 1rem;
}
.heading {
  color: black;
}

.user-name {
  margin-top: 0;
  background-color: rgb(228, 220, 220);
  border-radius: 5px;
}

.title {
  color: green;
  margin-top: 0;
  margin-bottom: 1vh;
}

.title-body-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 5px;
}
.body {
  color: grey;
}

.btn-comment {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  padding: 0.3rem 0.3rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0.3rem #999;
}
.btn-comment:hover {
  background-color: #3e8e41;
}

.btn-comment:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(0.1rem);
}

.comment {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 5px;
  padding: 10px;
}
span {
  color: rgb(94, 77, 77);
}
