.user-name {
  margin: 10px;
}

.title-body-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 5px;
  margin-bottom: 5vh;
}

.comment {
  margin-left: 5vw;
}
